{% extends 'base.html' %}

{% block content %}

<!-- ########################################################################################################################################## -->
<!-- BARRA DE BEM VINDO E INPUT DE TESTES DE DNS -->
        <section id="bar">
            <div class="container banner">
                <div id="user">
                    <!-- <img src="static/Server-bro.png" alt=""> -->
                    {% block subcontent %}
                        <h2>Bem-vindo, <b class="name">{{ session['first_name'] }}</b>!</h2>
                        <!-- Rest of the dashboard content -->
                    {% endblock %}
                </div>
                <div id="formulario">
                    <form method="POST" class="form-floating">
                        <input type="text" class="form-control" id="floatingInputValue" id="meuInput" name="domain" placeholder="www.google.com.br">
                        <label for="floatingInputValue">Insira aqui o domínio a ser consultado...</label>
                        <input type="submit" value="Iniciar">
                    </form>
                </div>
            </div>
        </section>
        <div id="aviso" class="alert alert-light container" role="alert">
            <strong>Observações: </strong> Ao realizar a consulta, digitar ou colar o domínio a ser consultado sem os prefixos <b>http://</b> ou <b>https://</b> ou <b>caracteres especiais</b> ao final do domínio.
        </div>

{% endblock %}